* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/*Paleta de colores para utilizar en todo el estilo de la página */
.color1 {
  color: #9ea2e0;
}
.color3 {
  color: #c4232b;
}
.color4 {
  color: #50608f;
}
.color6 {
  color: #2e326d;
}
.color5 {
  color: rgb(236, 240, 240);
}

body {
  background-color: rgb(236, 240, 240);
}

/* Estilos del elemento contenedor principal */
#principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: min-content;
  text-align: left;
}

/* Estilos del elemento header */
#principal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #28784d;
  color: rgb(236, 240, 240);
}

#barra {
  display: flex;
  width: 100%;
}
.container_logotipo {
  display: flex;
  max-width: 250px;
  height: auto;
  padding: 0 10px;
  margin: 0;
}

.logotipo {
  width: 90%;
  height: auto;
}

/* Estilo del elemento nav */
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #28784d;
  padding: 0 10px;
}

.container_nav {
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 100px;
}
/* Estilo del elemento nav */



nav a {
  color: rgb(236, 240, 240);
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;  
  /* font: bold 1vw verdana, sans-serif; */
  display: block;
}

nav a:hover {
  background-color: #335f47;
  color: rgb(236, 240, 240);
}

#menuHamburguesa {
  display: none;
}
#portada {
  width: 100%;
  background-color: #d1cfcf;

}
#portada img {
  width: 80%;
  height: auto;
}

/* Estilos para  selectores del header*/
.container-selector {
  position: relative;
  margin-left: 15px;
}
.container-selector a {
  color: #ffffff;
  text-decoration: none; 
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.container-selector a:hover {
  background-color: #335f47; 
  color: rgb(236, 240, 240); 
}

/* Estilos para el contenedor usuario */

.usuario {
  display: flex; 
  align-items: center; 
  gap: 10px; 
}

.usuario span {
  text-decoration: none; 
  color: #ffffff;
  font-size: 16px; 
  font-weight: bold; 
}

.loging a {
  color: #ffffff;
  background-color: #f1af00;
  padding: 10px 20px;
  margin-right: 15px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.3s;
}

.loging a:hover {
    background-color: rgb(236, 26, 26); 
}

.loging i {
  margin-right: 10px; 
  font-size: 16px;
}


/* Estrilos a las tablas */
h2 {
  text-align: center;
  font-size: 3em;
  margin: 30px 0;
  color: #335f47;
}
/* Estilo para el nombre del proveedor */
.proveedor {
  margin-left: 10%;
  font-size: 20px;
  font-weight: bold; 
  padding: 10px;
  border-radius: 5px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #335f47;
  color: white;
}


th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  background-color: #f1af00;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

button.editar {
  padding: 5px 10px;
  background-color: orangered;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

button.guardar {
  padding: 5px 10px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: rgb(236, 26, 26);
}


/* Estilos enlace crear*/
.enlace_crear a {
  text-decoration: none; 
  font-weight: bold;
}
.enlace_crear a button {
  color: #ffffff;
  background-color: rgb(236, 26, 26); 
  width: 80%;
  display: block;
  padding: 10px 20px;
  margin: 50px 150px;
  font-size: 17px;
  border-radius: 5px;  
  cursor: pointer;
  transition: background-color 0.3s;
}

.enlace_crear a button:hover {
    background-color: #f1af00; 
}

/* Estilos volver*/
.volver{
  margin-left: 150px;
}
.volver a button {
  color: #ffffff;
  background-color: #335f47; 
  padding: 10px 20px;
  margin: 20px 15px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;  
  cursor: pointer;
  transition: background-color 0.3s;
}

.volver a button:hover {
    background-color: rgb(236, 26, 26); 
}

/* estilos enlace mapa */

#mapContainer {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 400px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  z-index: 1000;
  display: none;
}

#map {
  width: 100%;
  height: 100%;
}

.cerrar_mapa {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1100;
}

.enlace_mapa {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.enlace_mapa:hover {
  color: darkblue;
}


 /* Estilos para formulario */
 .container_form {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
 
}

label {
  font-weight: bold;
  font-size: 20px;
  margin: 25px 0;
  color: #555;
  text-align: left;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background: #f9f9f9;
}

.submit-btn {
  margin-top: 20px;
  background: #f1af00;
  color: white;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

.submit-btn:hover {
  background: rgb(236, 26, 26);
}
/* Estilos para la modal  */
/* Estilo para el fondo del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}


/* Estilo para la sección pie de la página web */

#footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #28784d;
  color: #ecf0f0;
  padding: 20px 40px;
  text-align: center;
  gap: 20px;
  flex-direction: column;
}

/* Contenedor de enlaces */
.contenedor_pie_1 {
  flex: 1;
  text-align: center;
}

.enlaces_pie_lista {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.enlaces_pie {
  color: #ecf0f0;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

.enlaces_pie:hover {
  color: #f1af00;
}

/* Contenedor del texto central */
.contenedor_pie_2 {
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
}

/* Contenedor de redes sociales */
.contenedor_pie_3 {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.rrss {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
  opacity: 0.8;
}

  
  .lista1 {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .lista1 li {
    margin: 5px 0;
  }
  
  .lista1 a {
    display: block;
  }
