* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/*Paleta de colores para utilizar en todo el estilo de la página */
:root {
  --color-primario: #28784d;
  --color-secundario: #cd9c1c;
  --color-terciario: #ff682c;
  --color-texto: #ecf0f0;
  --color-hover: #335f47;
  --color-fondo: #f4f4f4;
}

/* General para webkit Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* hearder  y nav anclados */

#principal_header, #nav {
  position: sticky;
  top: 0;
  background-color: var(--color-primario);
  z-index: 50;
}
/* estilos del elemento contenedor principal */
#principal {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "nav nav nav nav nav"
    "aside aside aside aside aside"
    "main main main main main"
    "footer footer footer footer footer";
  grid-template-rows: auto;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin: 0 auto;
  width: 100%;
  height: min-content;
  text-align: left;
}

/*Estilos del elemento header */
#principal_header {
  grid-area: header;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px 60px 10px 60px;
  background-color: #28784d;
  color: rgb(236, 240, 240);
}
#barra{
  display: flex;
}
.container_logotipo {
  display: flex;
  max-width: 250px;
  height: auto;
  padding: 0 10px;
  margin: 0;

}
.container_logotipo a{
  cursor: pointer;
}
.logotipo {
  width: 90%;
  height: auto;
}

/* Estilos para contenedor perfiles */
.perfiles {
  display: flex;
}

.informacion a {  
  color: #ffffff;
  margin-right: 10px;
  
}
.perfiles a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.perfiles #contratista:hover {
  background-color: #335f47; /* Cambio de color al pasar el ratón */
}
.perfiles #proveedor:hover {
  background-color: #aa8b39; /* Cambio de color al pasar el ratón */
}

.a-contratista {  
  border: #ffffff solid 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.a-proovedor {
  background-color: #cd9c1c;
  border: #ffffff solid 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.active {
  background-color: #14914e; /* Color para el botón activo */
}

/* Estilos para  selectores del header*/
.container-selector {  
  position: relative;
  margin-left: 90px;
  padding: 10px;
}
.container-selector #languageLink, #soporteLink, #blogLink {
  color: #ffff;
  background-color: #28784d;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  border: 0;
}
.container-selector span {
  margin-left: 5px;
}
.selector-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
.selector-menu a {
  color: #28784d;
  font-size: 16px;
  position:fixed;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}
.selector-menu a:hover {
  background-color: #335f47;
  color: #ffffff;
}
/* Mostrar el menú al pasar el ratón */
.container-selector:hover .selector-menu {
  display: block;
}


/* Estilos para el contenedor loging */
.loging {
  margin-left: auto; 
}
.loging a {
  color: #ffffff;
  background-color: #ff682c;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.3s;
}
.loging a .login-icon {
  margin-right: 10px; 
}
.loging a:hover {
  background-color: #335f47; 
}

.usuario {
  margin-right: 10px;
}

/* Estilo del elemento nav  */

#nav {
  grid-area: nav;
  grid-auto-flow: column;
  align-content: space-evenly;  
  background-color: #28784d;
  padding: 0px 10px;
  display: flex; 
  
}

nav div {
  margin: 0;
  margin-left: 3%;
  position: relative;
  width: 70%;
  
}
.container_nav {
  display: flex;
  justify-content: space-between;
  margin-left: 15%; 
  border-top: #ffffff solid 1px;
}

nav a {
  color: rgb(236, 240, 240);
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;  
  font-size: 16px;
  display: block;
}

nav a:hover {
  background-color: #335f47;
  color: rgb(236, 240, 240);
}

.submenu {
  display: none;
  position: absolute;
  background-color: #00aa4f;
  padding: 0;
  margin: 0;
  list-style: none;
  top: 100%;
  left: 0;
  width: 100%;
  
}

.submenu li a {
  padding: 0.7em;
  font-size: 16px;
  text-align: start;
} 

.dropdown:hover .submenu {
  display: block;
}

#menuHamburguesa {
  display: none;
}
/* Estilo del elemento aside */
#aside {
  grid-area: aside;
  background-color: #28784d;
  color: #ecf0f0;
  width: 100%;
}
/* Estilos contenedor suscripción */
.container_suscripcion {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 20px;
  width: 100%; 
  margin: 0%;
  padding: 30px; 
  background:  #73a373;   
  color: #ffffff; 
  text-align: center; 
}

.container_suscripcion h1 {
  font-size: 2.5rem; 
  font-weight: bold; 
  margin-bottom: 10px; 
}

.container_suscripcion button {  
  color: #ffffff; 
  font-size: 1rem; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}
.button-informacion {
  background-color: #cd9c1c; 
 
}
.button-suscripcion {
  background-color: #ff682c; 
}
.container_suscripcion button:hover {
  background-color: #255625; 
}

/* Estilo del elemento main */

#main {
  grid-area: main;
  grid-column: 2 / span 3;
  grid-auto-flow: column;
  align-content: space-evenly;
  background-color: rgb(236, 240, 240);
  color: black;
  width: 100%;
  margin: 0%;
  text-align: justify; 
}


article{
  margin-left: 3%;
  white-space: pre-line;
}
/* estilos al texto */
 h1 {
  font: bold 2.9vw Lucida Sans, sans-serif;
  font-size: 2.9vw 3vmin;
}
h2 {
  font: bold 2.5vw Lucida Sans, sans-serif;
  font-size: 2.5vw 1vmin;
  margin: 0;
}
h3 {
  font: bold 1.9vw Lucida Sans, sans-serif;
  font-size: 1.9vw 1vmin;
  margin: 0;
}

th,
tr,
td,
li,
em {
  font: 1.2vw Lucida Sansa, sans-serif;
  line-height: 1;
}

p {
  margin-bottom: 20px;
  white-space: pre-line;
  font: 1.2vw Lucida Sans;
  font-size: 1.2vw 0.9vmin;
  line-height: 1.5; 
  text-align: justify;
}
.negrita{
  font-weight: bold;
}
figcaption {
  max-width: 80%;
}  

/* Estilo para la sección pie de la página web */

#footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #28784d;
  color: #ecf0f0;
  padding: 30px 40px;
  text-align: center;
  gap: 20px;
  flex-direction: column;
}

/* Contenedor de enlaces */
.contenedor_pie_1 {
  flex: 1;
  text-align: center;
}

.enlaces_pie_lista {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.enlaces_pie {
  color: #ecf0f0;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

.enlaces_pie:hover {
  color: #f1af00;
}

/* Contenedor del texto central */
.contenedor_pie_2 {
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
}

/* Contenedor de redes sociales */
.contenedor_pie_3 {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.rrss {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
  opacity: 0.8;
}
.lista1 {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.lista1 li {
  margin: 5px 0;
}

.lista1 a {
  display: block;
}

